html, body { font-size: 14px; font-family: 'Roboto', sans-serif; }

.brand { font-weight: bold; }
.login { float: right; margin: 11px 0; }
.login .login-link-text { color: #fff; }

.hero h1 { margin: 30px 0; }

table th { background: #eaeaea; text-align: left; }
table td, table th { padding: 5px; border: 1px solid #333; border-collapse: collapse; }
input[type="text"] { width: auto; }
